.portfolio-item-2:not(:last-child) {
  margin-bottom: 8rem;
}

.portfolio-item-2 .image {
  position: relative;
  overflow: hidden;
  border-radius: 0.75rem;
  user-select: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: unset;
  aspect-ratio: 1080 / 607;
}

.portfolio-item-2 .image .overlay {
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.75rem;
  /* background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8)
  ); */
  background-color: rgba(0, 0, 0, 0.5);
}
.portfolio-item-2 .image > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: 0.3s;
  /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25); */
}
.portfolio-item-2 .image > img:hover {
  transform: scale(1.1);
}

.portfolio-item-2 .detail {
  align-self: flex-start;
  padding: 0.75rem 0;
}

.portfolio-item-2 .detail .title {
  font-size: 20px;
  font-weight: 800;
  transition: 0.3s;
}
.portfolio-item-2 .detail .title:hover {
  text-decoration: underline;
}

.portfolio-item-2 .detail .metas {
  display: flex;
  gap: 0.5rem;
  /* color: var(--bs-secondary); */
  /* font-size: 14px; */
}

.portfolio-item-2 .detail .metas span {
  display: inline-block;
  margin: 0 0.5rem 0.5rem;
}

.portfolio-item-2 .detail .metas .meta {
  display: inline-block;
  background-color: rgba(var(--bs-primary-rgb), 0.1);
  color: rgba(var(--bs-primary-rgb), 1);
  /* border: 1px solid rgba(var(--bs-primary-rgb), 1); */
  padding: 0.125rem 0.5rem;
  font-size: 12px;
  font-weight: 600;
  border-radius: 0.4rem;
}

.portfolio-item-2 .detail .desc {
  font-size: 90%;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.portfolio-item-2 .stacks {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.portfolio-item-2 .stacks .stack {
  /* background-color: var(--bs-light); */
  background-color: white;
  border: 1px solid rgba(var(--bs-secondary-rgb), 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 28px;
  height: 28px;
  border-radius: 0.5rem;
  transition: 0.3s;
}
.portfolio-item-2 .stacks .stack:hover {
  opacity: 1;
}

.portfolio-item-2 .stacks .stack img {
  width: 16px;
  height: 16px;
  object-fit: contain;
}
