.portfolio {
  margin-bottom: 2rem;
}
.portfolio .title {
  color: var(--bs-primary);
  font-size: 32px;
}

.portfolio .images {
  margin-bottom: 1rem;
}
.portfolio .images img {
  object-fit: cover;
  height: unset !important;
  aspect-ratio: 16 / 9 !important;
}

.portfolio .detail .top {
  display: flex;
  justify-content: space-between;
}

.portfolio .button {
  text-wrap: nowrap;
  margin-top: 2.5rem;
}

.portfolio .detail .title {
  font-weight: 800;
}

.portfolio .detail .metas {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
  /* color: var(--bs-secondary); */
  /* font-size: 14px; */
}

.portfolio .detail .section {
  margin-bottom: 1rem;
}

.portfolio .detail .section-title {
  font-weight: 800;
}

.portfolio .detail .challenges {
  display: flex;
  flex-direction: column;
  gap: 0.5rem 0;
}

.portfolio .detail .challenges .challenge {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.portfolio .detail .challenges .challenge i {
  color: rgba(var(--bs-primary-rgb), 1);
}

.portfolio .detail .challenges .challenge a {
  color: default;
  text-decoration: underline;
}

.portfolio .detail .stacks-section {
  margin-bottom: 1rem;
}

.portfolio .detail .stacks {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.portfolio .detail .stacks .stack {
  text-wrap: nowrap;
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  /* background-color: rgba(var(--bs-light-rgb), 1); */
  background-color: white;
  border: 1px solid rgba(var(--bs-dark-rgb), 0.1);
  color: rgba(var(--bs-dark-rgb), 1);
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  font-size: 14px;
}

.portfolio .detail .stacks .stack img {
  width: 16px;
  height: auto;
  display: inline;
}

.portfolio .detail .teams {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
}

.portfolio .detail .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .portfolio .detail .stacks {
  display: flex;
  justify-content: right;
  gap: 0.5rem;
}

.portfolio .detail .stacks .stack {
  background-color: var(--bs-light);
  padding: 0.5rem;
  border-radius: 100%;
} */

@media (max-width: 991px) {
  .portfolio .title {
    font-size: 24px;
  }
}
