.pagination{
  width: auto;
  display: flex;
  gap: .5rem;
  align-items: center;
}

.items{
  display: flex;
  gap: .5rem;
}

.item{
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-radius: .5rem;
  width: 32px;
  height: 32px;
  color: var(--bs-dark);
  border: 1px solid rgba(var(--bs-secondary-rgb),.2);
  background-color: #fff;
}

.item:hover:not(.active):not(.disable):not(.dot){
  background-color: var(--bs-light);
}

.item.active{
  cursor: default;
  color: #fff;
  border: 1px solid var(--bs-primary);
  background-color: var(--bs-primary);
}

.item.disable{
  cursor: not-allowed;
  color: rgba(var(--bs-secondary-rgb),.2);
}

.item.dot{
  border: none;
  background-color: transparent;
  cursor: default;
  width: 20px;
}

@media (max-width: 767px){
  .items{
    gap: .25rem;
  }

  .item{
    font-size: 15px;
    width: 28px;
    height: 28px;
  }
}