/* global */
:root{
  --bs-primary: #40b193 !important;
  --bs-primary-hover: #3a947c !important;
  --bs-primary-rgb: 64, 177, 147;
  --bs-accent: #ffc051 !important;
}

a {
  text-decoration: none;
  color: inherit;
}

.border-pil {
  border-radius: 1000px;
}

.btn-primary{
  background-color: var(--bs-primary) !important;
  border: none;
}
.btn-primary:hover{
  background-color: var(--bs-primary-hover);
}

/* hero */
.hero{
  padding: 4rem 10px;
}
.hero .hero-title .text-jumbo{
  font-size: 2rem;
  margin-bottom: 1rem;
}
.hero .hero-title .social-media-wrapper{
  padding-bottom: 2rem;
}
.hero .hero-title .social-media-wrapper .social-media-item{
  font-size: 1.75rem;
  padding-right: 1rem;
}
.hero .hero-title .social-media-wrapper .social-media-item:hover i{
  transition: .3s;
  color: var(--bs-primary-hover);
}
.hero .hero-title .typed-text{
  font-size: 3rem;
  font-weight: 800;
  color: var(--bs-accent);
}
.hero .hero-title .contact-me{
  transition: .3s ease-in-out;
}
.hero .hero-image{
  text-align: center;
}
.hero .hero-image img{
  width: 70%;
  height: auto;
}

@media(min-width:992px){
  .hero .hero-title .contact-me:hover{
    transform: translateX(10px);
  }
}
@media(max-width:991px){
  .hero{
    padding: 2rem 10px 3rem;
  }
  .hero .hero-title{
    text-align: center;
  }
  .hero .hero-title .text-jumbo{
    font-size: 1.25rem;
  }
  .hero .hero-title .typed-text{
    font-size: 1.75rem;
  }
  .hero .hero-title{
    order: 1;
  }
  .hero .hero-image{
    padding-bottom: 2rem;
  }
}