/* *{
  border: 1px solid red;
} */
/* global */
:root{
  --bs-primary: #40b193 !important;
  --bs-primary-hover: #3a947c !important;
  --bs-primary-rgb: 64, 177, 147;
  --bs-primary-light: #f2fffc !important;
  --bs-primary-light-rgb: 242, 255, 252 !important;
  --bs-accent: #ffc051 !important;
}
html {
  scroll-behavior: smooth;
}
body{
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: inherit;
}
ul{
  padding: 0;
  margin: 0;
}
ul li {
  list-style-type: none !important;
}
.border-pil {
  border-radius: 1000px;
}
.btn-primary{
  background-color: var(--bs-primary) !important;
  border: none;
}
.btn-primary:hover{
  background-color: var(--bs-primary-hover);
}
.section{
  padding: 6rem 1rem;
}
.section .title{
  font-weight: 800;
  color: var(--bs-primary);
}
.section hr{
  width: 100px;
  margin: 1rem auto 2.5rem;
  border-top: 3px dashed;
}

/* navbar */
.navbar .nav-link{
  color: #fff;
}
@media(min-width:992px){
  .navbar .nav-link{
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}
@media(max-width:991px){
  .navbar .nav-link{
    text-align: center;
  }
}

/* hero */
.hero{
  background: linear-gradient(to bottom, rgba(var(--bs-light-rgb), 0.9), rgba(var(--bs-light-rgb), 0.9)), url('/pattern-background.png');
  background-size: 300px 300px;
}
.hero .hero-title .text-jumbo{
  font-size: 2rem;
  margin-bottom: 1rem;
}
.hero .hero-title .social-media-wrapper{
  padding-bottom: 2rem;
}
.hero .hero-title .social-media-wrapper .social-media-item{
  font-size: 1.75rem;
  padding-right: 1rem;
}
.hero .hero-title .social-media-wrapper .social-media-item:hover i{
  transition: .3s;
  color: var(--bs-primary-hover);
}
.hero .hero-title .typed-text{
  font-size: 3rem;
  font-weight: 800;
  color: var(--bs-accent);
}
.hero .hero-title .contact-me{
  margin-top: 1.5rem;
  transition: .3s ease-in-out;
}
.hero .hero-image{
  text-align: center;
}
.hero .hero-image img{
  width: 70%;
  height: auto;
}
@media(max-width:991px){
  .hero{
    padding: 4rem 10px;
  }
  .hero .hero-title{
    text-align: center;
  }
  .hero .hero-title .text-jumbo{
    font-size: 1.25rem;
  }
  .hero .hero-title .typed-text{
    font-size: 1.75rem;
  }
  .hero .hero-title{
    order: 1;
  }
  .hero .hero-image{
    padding-bottom: 2rem;
  }
}

/* personal info */
.personal-info{
  background: #fff;
}

@media(max-width:991px){
  .personal-info{
    padding: 3rem 10px;
  }
  .personal-info .row > :first-child img{
    width: 60px;
    height: 60px;
    margin-bottom: 2rem;
  }
  .personal-info .row > :last-child{
    text-align: center;
  }
}

/* experience */
.experience{
  background-color: var(--bs-primary-light);
  background-image: linear-gradient(to right, rgba(var(--bs-primary-light-rgb), 0.85) 1%, rgba(var(--bs-primary-light-rgb), 1)),url('/background-experience.png');
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: -40px 40px;
}
.experience .row:not(:last-child){
  margin-bottom: 2rem;
}
.experience .row > :first-child{
  text-align: end;
  padding: 0 2rem;
}
.experience .row > :last-child{
  padding: 0 4rem 0 2rem;
  border-left: 2px dashed var(--bs-primary);
}
.experience .row .position{
  font-weight: 800;
  font-size: 130%;
}
.experience .row .timespan{
  font-weight: 800;
  color: var(--bs-primary);
  padding-right: 0.5rem;
}
@media(max-width:991px){
  .experience{
    padding: 4rem 1.5rem;
    background-image: none;
  }
  .experience .row > :first-child{
    padding: .5rem 1rem;
  }
  .experience .row > :first-child .d-flex .left{
    text-align: left;
    order: 1;
  }
  .experience .row > :first-child .d-flex .right img{
    width: 60px;
    height: 60px;
  }
  .experience .row > :last-child{
    padding: 1rem;
    border-left: none;
  }
  .experience .row .timespan-n-company {
    display: flex;
    flex-direction: column;
  }
  .experience .row .timespan {
    order: 1;
  }
  .experience .row .company {
    order: 0;
  }
}

/* programming */
.programming .category{
  margin-bottom: 2rem;
}
.programming .category .category-title{
  text-align: center;
  margin-bottom: 0.75rem;
  font-size: 120%;
  font-weight: 800;
}
.programming .category .category-items{
  padding: 0;
  margin: 0;
}
.programming .category .category-items .category-item{
  list-style-type: none;
  background-color: var(--bs-light);
  padding: .75rem 1rem;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.programming .category .category-items .category-item img{
  margin-right: 0.75rem;
}
.programming .category .category-items .category-item i{
  margin-left: 0.5rem;
  font-size: 80%;
}
@media(min-width:992px) {
  .programming .category .category-items .category-item:hover{
    box-shadow: 0px 0px 5px rgba(0,0,0,.25);
  }
}

/* award */
.award{
  background: linear-gradient(to bottom, rgba(76, 76, 76, 0.95), rgba(76, 76, 76, 0.95)), url('/pattern-background.png');
  background-size: 300px 300px;
}
.award .title{
  color: #fff;
}
.award hr{
  display: none;
}
.award .container > .row{
  align-items: center;
}
.award .award-items .award-item{
  color: #fff;
  display: flex;
  align-items: center;
  background-color: rgba(0,0,0,.1);
  padding: 1.5rem 2rem;
  border-radius: 1rem;
}
.award .award-items .award-item .icon{
  margin-right: 2rem;
  display: flex;
  font-size: 24px;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  background-color: #fcffe5;
  color: var(--bs-accent) !important;
  min-width: 60px !important;
  width: 60px !important;
  height: 60px !important;
}
.award .award-items .award-item .award-title{
  font-size: 140%;
  font-weight: 800;
}
@media(max-width:991px){
  .award .title{
    text-align: center;
  }
  .award hr{
    display: block;
    color: #fff !important;
  }
  .award .award-items .award-item{
    flex-direction: column;
  }
  .award .award-items .award-item .icon{
    align-self: self-start;
    margin-bottom: 1rem;
  }
}

/* portfolio */
.portfolio{
  background: linear-gradient(to bottom, rgba(var(--bs-light-rgb), 0.95), rgba(var(--bs-light-rgb), 0.95)), url('/pattern-background.png');
  background-size: 300px 300px;
  padding: 8rem 2rem !important;
}
.portfolio .row{
  justify-content: center;
  align-items: center;
}
.portfolio .coming-soon-image{
  width: 400px;
  margin: 0 auto;
}
.portfolio .coming-soon-text{
  text-align: center;
}
.portfolio .coming-soon-text .coming-soon-title{
  font-weight: 800;
  font-size: 3rem;
}
@media(max-width:992px){
  .portfolio .coming-soon-image{
    width: 280px;
    margin-bottom: 2rem;
  }
  .portfolio .coming-soon-text .coming-soon-title{
    font-weight: 800;
    font-size: 2rem;
  }
}

/* footer */
footer .top{
  color: #fff;
  padding: 3rem 1rem;
  background-color: #1d6955;
}
footer .top h5{
  font-weight: 800;
  margin-bottom: 1.5rem;
}
footer .top .contacts ul li{
  margin-bottom: .5rem;
}
footer .top .contacts ul li i{
  margin-right: .5rem;
}
footer .top .social-medias ul{
  display: flex;
}
footer .top .social-medias ul li{
  font-size: 20px;
  margin-right: 1rem;
}
footer .copyright{
  color: #fff;
  background-color: #185242;
  padding: 1rem;
  text-align: center;
  font-size: 14px;
}
footer .copyright br{
  display: none;
}
@media(max-width:991px){
  footer .top .row > div:not(:last-child){
    margin-bottom: 2.5rem;
  }
  footer .top h5{
    margin-bottom: 0.75rem;
  }
  footer .copyright br{
    display: block;
  }
}