/* *{
  border: 1px solid red;
} */
/* global */
:root {
  --bs-primary: #40b193 !important;
  --bs-primary-hover: #3a947c !important;
  --bs-primary-rgb: 64, 177, 147 !important;
  --bs-primary-light: #f2fffc !important;
  --bs-primary-light-rgb: 242, 255, 252 !important;
  --bs-default-primary: #0d6efd !important;
  /* --bs-accent: #ffc051 !important; */
  --bs-accent: #f9b30d !important;
  --bs-accent-rgb: 249, 179, 13 !important;
}

:not(article pre code, article pre code *)::selection{
  background-color: var(--bs-primary);
  color: #fff;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

@media(max-width: 567px){
  html{
    font-size: 14px !important;
  }
}

body {
  min-height: 100vh;
}

:focus {
  box-shadow: 0 0 transparent !important;
}

.form-select:focus {
  border-color: var(--bs-border-color);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  object-fit: contain;
  width: 100%;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none !important;
}

.border-pil {
  border-radius: 1000px;
}

.hljs-copy-button{
  top: 1.55rem !important;
  right: .5rem !important;
  transform: none !important;
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' fill='white' class='bi bi-files' viewBox='0 0 16 16'%3E%3Cpath d='M13 0H6a2 2 0 0 0-2 2 2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 13V4a2 2 0 0 0-2-2H5a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1zM3 4a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4z'/%3E%3C/svg%3E") !important; */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='with-icon_icon__MHUeb' data-testid='geist-icon' fill='none' height='20' shape-rendering='geometricPrecision' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' viewBox='0 0 24 24' width='20' aria-hidden='true' style='color: currentcolor; width: 20px; height: 20px;'%3E%3Cpath d='M6 17C4.89543 17 4 16.1046 4 15V5C4 3.89543 4.89543 3 6 3H13C13.7403 3 14.3866 3.4022 14.7324 4M11 21H18C19.1046 21 20 20.1046 20 19V9C20 7.89543 19.1046 7 18 7H11C9.89543 7 9 7.89543 9 9V19C9 20.1046 9.89543 21 11 21Z'%3E%3C/path%3E%3C/svg%3E") !important;
}

.hljs-copy-button:hover{
  background-color: rgba(255,255,255,.1);
}

.hljs-copy-button[data-copied="true"]{
  text-indent: -9999px !important;
  width: 2rem !important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-check-lg' viewBox='0 0 16 16'%3E%3Cpath d='M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z'/%3E%3C/svg%3E") !important;
}

.btn-primary {
  background-color: var(--bs-primary) !important;
  border: none;
}

.btn-primary:hover {
  background-color: var(--bs-primary-hover) !important;
}

.doodle-background{
  background: linear-gradient(to bottom, rgba(var(--bs-light-rgb), 0.98), rgba(var(--bs-light-rgb), 0.98)), url('/pattern-background.png');
  background-size: 300px 300px;
}

/* placeholder */
.placeholder{
  border-radius: .25rem;
}
                  
@media(max-width: 767px){
  .loading-blogs .blog-feature-image > span > span{
    width: 100% !important;
  }

  .loading-blogs .blog-title-placeholder span{
    height: 22px !important;
  }

  .loading.blog-detail .blog-detail-title-placeholder{
    height: 24px !important;
  }

  .loading.blog-detail .blog-detail-meta-placeholder > div > :nth-child(2){
    height: 20px !important;
    width: 100px !important;
  }

  .loading.blog-detail .blog-detail-feature-image{
    height: 200px !important;
  }
}

/* section */
.section {
  padding: 6rem 1rem;
}

.section .title {
  font-weight: 800;
  color: var(--bs-primary);
}

.section .sub-title {
  text-align: center;
  margin: 0 auto;
  color: var(--bs-secondary);
}

.section hr {
  width: 100px;
  margin: 1rem auto 2.5rem;
  border-top: 3px dashed;
}

/* navbar */
.navbar {
  box-shadow: 0px 10px 40px 40px rgba(0, 0, 0, .1);
}

.navbar .navbar-brand {
  color: #fff;
}

.navbar .nav-link {
  color: #fff;
  border-radius: .5rem;
  margin: 0 .25rem;
}

.navbar .navbar-nav .nav-link:not([target='_blank']):hover, .navbar .navbar-nav .nav-link.active{
  background-color: rgba(255,255,255,.2);
}

.navbar .navbar-toggler {
  border: none;
}

.navbar .navbar-toggler .navbar-toggler-icon {
  fill: #fff;
  transition: 300ms;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2030%2030%27%3E%3Cpath%20stroke%3D%27rgba(255%2C%20255%2C%20255%2C%201)%27%20stroke-linecap%3D%27round%27%20stroke-miterlimit%3D%2710%27%20stroke-width%3D%272%27%20d%3D%27M4%207h22M4%2015h22M4%2023h22%27%2F%3E%3C%2Fsvg%3E");
}

.navbar .navbar-toggler:not(.collapsed) .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg%20fill%3D%22%23ffffff%22%20width%3D%22800px%22%20height%3D%22800px%22%20viewBox%3D%220%200%2032%2032%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%3Etimes%3C%2Ftitle%3E%3Cpath%20d%3D%22M17.062%2016l9.37-9.37c0.136-0.136%200.219-0.323%200.219-0.53%200-0.415-0.336-0.751-0.751-0.751-0.208%200-0.395%200.084-0.531%200.22v0l-9.369%209.369-9.37-9.369c-0.135-0.131-0.319-0.212-0.522-0.212-0.414%200-0.75%200.336-0.75%200.75%200%200.203%200.081%200.387%200.212%200.522l9.368%209.369-9.369%209.369c-0.136%200.136-0.22%200.324-0.22%200.531%200%200.415%200.336%200.751%200.751%200.751%200.207%200%200.394-0.084%200.53-0.219v0l9.37-9.37%209.369%209.37c0.136%200.136%200.324%200.22%200.531%200.22%200.415%200%200.751-0.336%200.751-0.751%200-0.207-0.084-0.395-0.22-0.531v0z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}

@media(min-width:992px) {
  .navbar .nav-link {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}

@media(max-width:991px) {
  .navbar .nav-link {
    margin: .25rem 0;
    text-align: center;
  }
  
}

@media(max-width:1080px){
  .navbar .nav-link[href="/#experience"], .navbar .nav-link[href="/#programming"]{
    display: none;
  }
}

/* hero */
.hero {
  padding-bottom: 0px;
}

.hero .hero-title .social-media-wrapper {
  padding-bottom: 2rem;
}

.hero .hero-title .social-media-wrapper .social-media-item {
  font-size: 1.75rem;
  padding-right: 1rem;
  color: var(--bs-secondary);
}

.hero .hero-title .social-media-wrapper .social-media-item:hover i {
  transition: .3s;
  color: var(--bs-primary-hover);
}

.hero .hero-title .text-jumbo {
  /* font-size: 2rem;
  font-weight: 400; */
  font-size: 2.5rem;
  font-weight: 800;
  color: rgba(var(--bs-dark-rgb),.75) !important;
}

.hero .hero-title .typed-text {
  font-size: 3rem;
  font-weight: 800;
  color: var(--bs-primary);
}

.hero .hero-title .contact-me {
  margin-top: 1.5rem;
  transition: .3s ease-in-out;
  background-color: #ffffff00;
  color: rgba(var(--bs-primary-rgb),1);
  border: 1px solid rgba(var(--bs-primary-rgb),1);
}

.hero .hero-title .contact-me:hover {
  color: #fff;
  background-color: var(--bs-primary) !important;
}

.hero .hero-image {
  text-align: center;
}

.hero .hero-image img {
  width: 70%;
  height: auto;
}

.hero .features{
  margin-top: 3rem;
  margin-bottom: -4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.hero .features .feature{
  width: 220px;
  background-color: #fff;
  border: 1px solid rgba(var(--bs-secondary-rgb),.2);
  border-radius: .75rem;
  padding: 2rem;
  text-align: center;
}

.hero .features .feature:hover{
  border-color: var(--bs-primary);
}

.hero .features .feature .feature-icon{
  display: inline-block;
  margin: 0 auto 1rem;
  background-color: rgba(var(--bs-light-rgb),1);
  border-radius: 50%;
  padding: 1.5rem;
}

.hero .features .feature .feature-icon img{
  filter: invert(56%) sepia(44%) saturate(500%) hue-rotate(114deg) brightness(97%) contrast(92%);
  width: 40px;
  height: 40px;
}

.hero .features .feature .feature-title{
  text-align: center;
  font-weight: 800;
  margin-bottom: 0px;
}

@media(max-width:767px){
  .hero .hero-title {
    order: 1;
    text-align: center;
  }
}

@media(max-width:991px) {
  .hero {
    padding: 4rem 10px;
    padding-bottom: 0px;
  }

  .hero .hero-title .text-jumbo {
    font-size: 1.25rem;
  }

  .hero .hero-title .typed-text {
    font-size: 1.75rem;
  }

  .hero .hero-image {
    padding-bottom: 2rem;
  }

  .hero .features{
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: .75rem;
  }

  .hero .features .feature{
    width: 160px;
    padding: 1.5rem;
  }

  .hero .features .feature .feature-icon img{
    width: 32px;
    height: 32px;
  }
}

/* personal info */
.personal-info {
  padding-top: 10rem;
  background: #fff;
}

@media(max-width:991px) {
  .personal-info {
    padding: 10rem 10px 3rem;
  }

  .personal-info .row> :first-child img {
    width: 60px;
    height: 60px;
    margin-bottom: 2rem;
  }

  .personal-info .row> :last-child {
    text-align: center;
  }
}

/* education */
.education .education-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.education .education-item {
  display: flex;
  gap: 1rem;
  align-items: center;
  min-width: 400px;
  background-color: rgba(var(--bs-light-rgb),.5);
  border: 1px solid rgba(var(--bs-secondary-rgb),.15);
  border-radius: 1rem;
  padding: 1rem;
}
.education .education-item:hover {
  border-color: var(--bs-primary);
}

.education .education-item-icon {
  background-color: rgba(var(--bs-secondary-rgb),.05);
  border-radius: 50%;
}
.education .education-item img {
  filter: invert(56%) sepia(44%) saturate(500%) hue-rotate(114deg) brightness(97%) contrast(92%);
  margin: 0 auto;
  padding: .75rem;
}

@media(max-width: 991px){
  .education .education-items {
    flex-direction: column;
    gap: 1rem;
  }
  .education .education-item {
    min-width: 100%;
  }
}

/* experience */
.experience {
  background-color: var(--bs-primary-light);
  background-image: linear-gradient(to right, rgba(var(--bs-primary-light-rgb), 0.85) 1%, rgba(var(--bs-primary-light-rgb), 1)), url('/background-experience.png');
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: -40px 40px;
}

.experience .row:not(:last-child) {
  margin-bottom: 2rem;
}

.experience .row> :first-child {
  text-align: end;
  padding: 0 2rem;
}

.experience .row> :last-child {
  padding: 0 4rem 0 2rem;
  border-left: 2px dashed var(--bs-primary);
}

.experience .row .position {
  font-weight: 800;
  font-size: 130%;
}

.experience .row .timespan {
  font-weight: 800;
  color: var(--bs-primary);
  padding-right: 0.5rem;
}

@media(max-width:991px) {
  .experience {
    padding: 4rem 1.5rem;
    background-image: none;
  }

  .experience .row> :first-child {
    padding: .5rem 1rem;
  }

  .experience .row> :first-child .d-flex .left {
    text-align: left;
    order: 1;
  }

  .experience .row> :first-child .d-flex .right img {
    width: 60px;
    height: 60px;
  }

  .experience .row> :last-child {
    padding: 1rem;
    border-left: none;
  }

  .experience .row .timespan-n-company {
    display: flex;
    flex-direction: column;
  }

  .experience .row .timespan {
    order: 1;
  }

  .experience .row .company {
    order: 0;
  }
}

/* programming */
.programming .category {
  margin-bottom: 2rem;
}

.programming .category .category-title {
  text-align: center;
  margin-bottom: 0.75rem;
  font-size: 120%;
  font-weight: 800;
}

.programming .category .category-items {
  padding: 0;
  margin: 0;
}

.programming .category .category-items .category-item {
  list-style-type: none;
  background-color: var(--bs-light);
  padding: .75rem 1rem;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.programming .category .category-items .category-item img {
  margin-right: 0.75rem;
  width: 24px;
}

.programming .category .category-items .category-item i {
  margin-left: 0.5rem;
  font-size: 80%;
}

.programming .category .category-items .category-item-level {
  background-color: rgba(var(--bs-primary-rgb),.1);
  color: rgba(var(--bs-primary-rgb),1);
  border: 1px solid rgba(var(--bs-primary-rgb),1);
}

@media(min-width:992px) {
  .programming .category .category-items .category-item:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .25);
  }
}

/* award */
.award {
  background: linear-gradient(to bottom, rgba(76, 76, 76, 0.98), rgba(76, 76, 76, 0.98)), url('/pattern-background.png');
  background-size: 300px 300px;
}

.award .title {
  color: #fff;
}

.award hr {
  display: none;
}

.award .container>.row {
  align-items: center;
}

.award .award-items .award-item {
  color: #fff;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, .1);
  padding: 1.5rem 2rem;
  border-radius: 1rem;
}

.award .award-items .award-item .icon {
  margin-right: 2rem;
  display: flex;
  font-size: 24px;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  background-color: #fcffe5;
  color: var(--bs-accent) !important;
  min-width: 60px !important;
  width: 60px !important;
  height: 60px !important;
}

.award .award-items .award-item .award-title {
  font-size: 140%;
  font-weight: 800;
}

@media(max-width:991px) {
  .award .title {
    text-align: center;
  }

  .award hr {
    display: block;
    color: #fff !important;
  }

  .award .award-items .award-item {
    flex-direction: column;
  }

  .award .award-items .award-item .icon {
    align-self: self-start;
    margin-bottom: 1rem;
  }
}

/* latest blog */
.latest-blog .title{
  color: var(--bs-dark);
  font-weight: 1000;
  font-size: 48px;
}

.latest-blog .sub-title{
  text-align: start;
}

.latest-blog .latest-blog-item{
  margin: 0 auto;
  width: 400px;
}

.latest-blog .latest-blog-item img{
  display: block;
  border-radius: 1rem;
  height: auto;
  object-fit: cover;
}

.latest-blog .latest-blog-item h2{
  padding: .5rem;
  margin-bottom: 0;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  color: var(--bs-primary);
}

.latest-blog .latest-blog-item p{
  color: var(--bs-secondary);
  text-align: center;
  margin-bottom: 0;
}

@media (max-width: 991px){
  .latest-blog .btn-show-all-page{
    display: none;
  }

  .latest-blog .row .col-12:first-child{
    text-align: center;
  }
  
  .latest-blog .title{
    font-size: 22px;
  }

  .latest-blog .sub-title{
    text-align: center;
  }

  .latest-blog .latest-blog-item{
    max-width: 400px;
    width: 100%;
  }

  .latest-blog .latest-blog-item h2{
    font-size: 18px;
  }
}

/* portfolio */
.portfolio .header {
  margin-bottom: 4rem;
}

.portfolio .header .title {
  font-size: 48px;
  text-align: center;
}

.portfolio .header hr {
  margin-bottom: 1.5rem;
}

.portfolio .header .filters {
  display: flex;
  justify-content: center;
}

.portfolio .header .filters .filter {
  width: 15%;
  padding: 0 .5rem;
}

.portfolio .header .filters .filter label {
  margin-bottom: .5rem;
}

.portfolio .header .filters .filter .form-select {
  cursor: pointer;
  padding: .5rem 1rem;
  border-radius: 10px;
}

.portfolio .portfolio-item:not(:last-child) {
  margin-bottom: 8rem;
}

.portfolio .portfolio-item .portfolio-item-detail {
  padding: 1rem 2.5rem;
}

.portfolio .portfolio-item .portfolio-item-detail .portfolio-item-title {
  font-weight: 800;
}

.portfolio .portfolio-item .portfolio-item-detail .portfolio-item-metas {
  display: flex;
  gap: .5rem;
  margin-bottom: 1rem;
  /* color: var(--bs-secondary); */
  /* font-size: 14px; */
}

.portfolio .portfolio-item .portfolio-item-detail .portfolio-item-metas span {
  display: inline-block;
  margin: 0 .5rem .5rem;
}

.portfolio .portfolio-item .portfolio-item-detail .portfolio-item-metas .portfolio-item-meta {
  display: inline-block;
  background-color: rgba(var(--bs-primary-rgb),.1);
  color: rgba(var(--bs-primary-rgb),1);
  border: 1px solid rgba(var(--bs-primary-rgb),1);
  padding: .125rem .5rem;
  font-size: 12px;
  font-weight: 600;
  border-radius: .4rem;
}

.portfolio .portfolio-item .portfolio-item-detail .portfolio-item-desc {
  margin-bottom: 1rem;
}

.portfolio .portfolio-item .portfolio-item-detail .portfolio-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio .portfolio-item .portfolio-item-detail .portfolio-item-stacks {
  display: flex;
  justify-content: right;
  gap: .5rem;
}

.portfolio .portfolio-item .portfolio-item-detail .portfolio-item-stacks .portfolio-item-stack {
  background-color: var(--bs-light);
  padding: .5rem;
  border-radius: 100%;
}

@media(max-width:991px) {
  .portfolio {
    padding-left: .5rem;
    padding-right: .5rem;
  }

  .portfolio .header {
    margin-bottom: 2rem;
  }

  .portfolio .header .title {
    font-size: 32px;
  }

  .portfolio .header .filters .filter {
    width: 50%;
  }

  .portfolio .portfolio-item .portfolio-item-detail {
    padding: 1rem 1.5rem;
  }
}

/* side project */
.side-project .title {
  font-size: 48px;
}

.side-project .side-project-item {
  display: block;
  padding: 1rem;
}

.side-project .side-project-item .side-project-title:hover {
  text-decoration: underline !important;
}

.side-project .side-project-item .side-project-img-wrapper{
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: .5rem;
  border: 1px solid rgba(0, 0, 0, .1);
}

.side-project .side-project-item .side-project-img-wrapper .overlay{
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,.5);
}

.side-project .side-project-item .side-project-img-wrapper:hover .overlay{
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-project .side-project-item .side-project-img-wrapper .overlay .btn-open{
  background-color: rgba(0,0,0, .5);
  color: #fff;
}
.side-project .side-project-item .side-project-img-wrapper .overlay .btn-open:hover{
  background-color: rgba(0,0,0, .75);
}

.side-project .side-project-item .side-project-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.side-project .side-project-item .side-project-text {
  padding: 1rem .5rem;
}

.side-project .side-project-item .side-project-text .side-project-title {
  font-size: 22px;
  font-weight: 800;
}

.side-project .side-project-item .side-project-text p {
  color: var(--bs-secondary)
}

.side-project .side-project-item .side-project-stacks {
  display: flex;
  gap: .5rem;
}

@media(max-width:991px) {
  .side-project .title {
    font-size: 32px;
  }

  .side-project .side-project-item .side-project-img {
    height: 160px;
  }
}

/* blog */
.blog .header {
  margin-bottom: 2rem;
}

.blog .title {
  font-size: 48px;
  text-align: center;
}

.blog .blog-filter{
  margin-bottom: 3rem;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}

.blog .blog-filter .blog-filter-heading{
  font-size: 36px;
  margin-bottom: .25rem;
  color: rgba(var(--bs-secondary-rgb),.75);
  font-weight: 400;
}

.blog .blog-filter .blog-filter-heading span{
  font-weight: 800;
  color: rgba(var(--bs-dark-rgb),.85);
}

.blog .blog-filter .blog-filter-meta{
  color: rgba(var(--bs-secondary-rgb),.75);
}

.blog .blogs-meta{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.blog .blogs-meta .meta-text{
  color: var(--bs-secondary);
}

.blog .blog-sidebar .blog-tags{
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: .5rem
}

.blog .blog-sidebar .blog-tag{
  cursor: pointer;
  margin: 0;
}

.blog .blog-sidebar .blog-tag:hover{
  background-color: rgba(var(--bs-primary-rgb),.35);
}


@media(max-width: 1200px){
  .blog .row:nth-child(2){
    flex-direction: column-reverse;
  }
}
@media(max-width: 991px){
  
  .blog .blogs-meta{
    flex-direction: column;
  }

  .blog .blog-sidebar .blog-tags{
    justify-content: center;
  }

  .blog .blog-filter{
    text-align: center;
  }
  .blog .blog-filter .blog-filter-heading{
    font-size: 24px;
  }
  .blog .blog-filter .blog-filter-meta{
    text-align: center;
  }
}

/* blog-sidebar*/
.blog-sidebar .box-container{
  padding: 1rem;
  border: 1px solid rgba(var(--bs-secondary-rgb),.25);
  border-radius: .5rem;
  background-color: var(--bs-light);
}

.blog-sidebar .box-container .box-container-title{
  font-weight: 800;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.blog-sidebar .box-container .box-container-title i{
  font-size: 15px;
  color: var(--bs-primary);
  margin-right: .5rem;
}

.blog-sidebar .box-container .blog-detail-share-items{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: .4rem;
}

.blog-sidebar .blog-detail-share .blog-detail-share-item{
  cursor: pointer;
  display: inline-block;
  padding: .4rem .65rem;
  /* color: #185242; */
  color: var(--bs-primary);
  border-radius: .5rem;
  border: 1px solid rgba(var(--bs-secondary-rgb),.15);
  /* background-color: rgba(var(--bs-primary-rgb),.25); */
  background-color: rgba(var(--bs-secondary-rgb),.05);
}

.blog-sidebar .blog-detail-share .blog-detail-share-item:hover{
  background-color: rgba(var(--bs-secondary-rgb),.15);
}


.blog-sidebar .blog-detail-latest .blog-detail-latest-items{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.blog-sidebar .blog-detail-latest .blog-detail-latest-items .blog-detail-latest-item .blog-detail-latest-item-img{
  width: 100% !important;
  height: 160px;
  object-fit: cover;
  border-radius: .5rem;
  margin-bottom: .5rem;
}

.blog-sidebar .blog-detail-latest .blog-detail-latest-items .blog-detail-latest-item .blog-detail-latest-item-title{
  font-size: 17px;
  font-weight: 800;
  margin-bottom: 0px;
  color: var(--bs-primary);
}

.blog-sidebar .blog-detail-latest .blog-detail-latest-items .blog-detail-latest-item .blog-detail-latest-item-title:hover{
  text-decoration: underline !important;
}

.blog-sidebar .blog-detail-latest .blog-detail-latest-items .blog-detail-latest-item .blog-detail-latest-item-meta{
  font-size: 14px;
  color: var(--bs-secondary);
}

@media(max-width: 1200px){
  .blog-sidebar{
    margin-bottom: 2rem !important;
  }
  .blog-sidebar .blog-detail-latest .blog-detail-latest-items .blog-detail-latest-item .blog-detail-latest-item-img{
    height: 120px;
  }
}

@media(max-width: 991px){
  .blog-sidebar .box-container.blog-detail-share{
    margin-top: 2rem;
  }

  
  .blog-sidebar .blog-detail-latest .blog-detail-latest-items .blog-detail-latest-item{
    display: flex;
    gap: 1rem;
  }
  .blog-sidebar .blog-detail-latest .blog-detail-latest-items .blog-detail-latest-item .blog-detail-latest-item-title{
    font-size: 16px;
  }
  
  .blog-sidebar .blog-detail-latest .blog-detail-latest-items .blog-detail-latest-item .blog-detail-latest-item-img{
    width: 110px !important;
    height: 70px;
  }

  .blog-sidebar .blog-detail-latest .blog-detail-latest-items .blog-detail-latest-item .blog-detail-latest-item-text{
    padding-top: .25rem;
  }
}

@media(max-width: 575px){
  .blog-sidebar .box-container .box-container-title{
    justify-content: center;
  }
  .blog-sidebar .box-container .blog-detail-share-items{
    justify-content: center;
  }
}

/* blog-item */
.blog-item {
  display: flex;
  gap: 2rem;
  padding: 0 0 1.5rem;
  margin-bottom: 4rem;
}

.blog-item .blog-feature-image img{
  width: 300px;
  height: 180px;
  object-fit: cover;
  border-radius: .5rem;
  border: 1px solid rgba(var(--bs-secondary-rgb),.25);
  background-color: #fff;
}

.blog-item .blog-text .blog-title{
  font-weight: 1000;
  font-size: 24px;
  color: var(--bs-primary);
  margin-bottom: .25rem;
}

.blog-item .blog-text .blog-meta{
  color: var(--bs-secondary);
  font-size: 14px;
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: .5rem 0 .75rem 0;
}

.blog-item .blog-text .blog-author{
  display: flex;
  align-items: center;
  gap: .5rem;
  margin-right: .5rem;
}

.blog-item .blog-text .blog-author .blog-author-img{
  object-fit: cover;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.blog-item .blog-text .blog-meta i{
  margin-right: .5rem;
  font-size: 14px;
}

.blog-item .blog-text .blog-desc{
  margin-bottom: 1rem;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* .blog-item .blog-text .blog-desc::after {
  content: "...";
  float: right;
  margin-top: -1em;
} */

@media(max-width: 991px){
  .blog .header{
    margin-bottom: 1rem;
  }

  .blog .header .title {
    font-size: 32px;
  }

  .blog .header hr{
    margin-bottom: 2rem;
  }

  .blog-item{
    margin-bottom: 2rem;
  }
  
  .blog-item .blog-feature-image img{
    width: 240px;
    height: 160px;
  }
}

@media(max-width: 767px){
  .blog-item .blog-feature-image img{
    width: 200px;
    height: 120px;
  }
}

@media(max-width: 480px){
  .blog-item{
    flex-direction: column;
    gap: .6rem;
  }

  .blog-item .blog-feature-image img{
    width: 100%;
    height: 180px;
  }

  .blog-item .blog-text .blog-title{
    font-size: 20px;
  }

  .blog-item .blog-text .blog-desc{
    margin-bottom: 1rem;
  }
}

/* blog-tag */
.blog-tag{
  user-select: none;
  margin-right: .25rem;
  margin-bottom: .25rem;
  font-size: 12px;
  display: inline-block;
  padding: .2rem .5rem;
  border-radius: .5rem;
  /* color: #185242; */
  /* background-color: rgba(var(--bs-primary-rgb),.25); */
  background-color: rgba(var(--bs-primary-rgb),.1);
  color: rgba(var(--bs-primary-rgb),1);
  border: 1px solid rgba(var(--bs-primary-rgb),1);
  font-weight: 600;
}

/* blog-detail */
.blog-detail .blog-detail-title{
  color: var(--bs-primary);
  font-weight: 800;
}

.blog-detail .blog-detail-meta{
  color: var(--bs-secondary);
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.blog-detail .blog-author{
  display: flex;
  align-items: center;
  gap: .5rem;
  margin-right: .5rem;
}

.blog-detail .blog-author .blog-author-img{
  object-fit: cover;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.blog-detail .blog-detail-meta i{
  margin-right: .5rem;
  font-size: 14px;
}

.blog-detail .blog-detail-feature-image img{
  border-radius: .75rem;
  object-fit: cover;
  width: 100%;
  height: 500px;
  margin-bottom: 2rem;
  border: 1px solid rgba(var(--bs-secondary-rgb),.25);
  background-color: #fff;
}

.blog-detail article ul{
  margin-bottom: 1rem;
}

.blog-detail article ul li{
  margin-left: 2rem;
  margin-bottom: .5rem;
  list-style-type: disc !important;
}

.blog-detail article a{
  text-decoration: underline;
  font-weight: 600;
  color: var(--bs-default-primary);
}
.blog-detail article a:hover{
  color: var(--bs-primary);
}

.blog-detail article > h1,
.blog-detail article > h2,
.blog-detail article > h3,
.blog-detail article > h4,
.blog-detail article > h5{
  margin: 2rem 0 1rem;
  font-weight: 800;
}

.blog-detail article li,
.blog-detail article p{
  word-wrap: break-word;
  line-height: 28px;
  font-size: 17px;
}

.blog-detail article > code{
  display: inline-block;
  padding: 0rem .2rem;
  border-radius: .25rem;
  background-color: rgba(var(--bs-secondary-rgb),.15) !important;
}

.blog-detail article :not(pre) > code{
  /* color: var(--bs-primary); */
  background-color: rgba(var(--bs-secondary-rgb),.1);
  padding-left: .25rem;
  padding-right: .25rem;
  border-radius: .25rem;
}

.blog-detail article pre, .blog-detail article pre code, .blog-detail article code{
  font-size: 16px;
  font-family: 'SF Mono', SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  margin-bottom: 0;
  line-height: normal;
  background-color: none !important;
}

.blog-detail article pre code{
  line-height: 24px;
  border-radius: .5rem;
  padding: 2rem 4rem 2rem 2rem;
  overflow: auto;
}

.blog-detail article img{
  display: inline-block;
  width: 100%;
  border-radius: .5rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border: 1px solid rgba(var(--bs-secondary-rgb),.25);
  cursor: pointer;
}

.blog-detail article img.img-lg{
  width: 100%;
}

.blog-detail article img.img-md{
  width: 75%;
}

.blog-detail article img.img-sm{
  width: 50%;
}
.blog-detail article img.img-xs{
  width: 35%;
}

.blog-detail article table{
  margin: 0 auto 1rem;
  background-color: #fff;
}

.blog-detail article table th,
.blog-detail article table td{
  border: 1px solid black;
}

.blog-detail article table th{
  background-color: rgba(var(--bs-primary-rgb),.25);
}

.blog-detail article table th,
.blog-detail article table td{
  padding: .25rem 1rem;
}

.blog-detail article table tr:nth-child(even) {
  background-color: rgba(var(--bs-secondary-rgb),.15);
}

.blog-detail .blog-detail-content{
  margin-bottom: 5rem;
}

.blog-detail .blog-detail-tags .blog-tag{
  cursor: pointer;
  font-size: 14px;
}

.blog-detail .blog-detail-tags .blog-tag:hover{
  background-color: rgba(var(--bs-primary-rgb),.35);
}

@media(max-width: 991px){
  .blog-detail.section{
    padding-top: 3rem;
  }

  .blog-detail .blog-detail-title{
    font-size: 28px;
  }

  .blog-detail .blog-detail-feature-image img{
    height: 400px;
    margin-bottom: 1rem;
  }

  .blog-detail .blog-detail-meta{
    font-size: 14px;
  }
  
  .blog-detail .blog-author .blog-author-img{
    width: 18px;
    height: 18px;
  }

  .blog-detail article pre code{
    font-size: 15px;
  }
}

@media(max-width: 575px){
  .blog-detail .blog-detail-feature-image img{
    height: 200px;
  }
  .blog-detail article img.img-sm,
  .blog-detail article img.img-md{
    width: 100%;
  }

  .blog-detail .blog-detail-tags{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .25rem;
  }

  .blog-detail .blog-detail-tags .blog-tag{
    font-size: 14px;
    margin: 0;
  }
}

/* carousel */
.carousel .carousel-item {
  padding: 0 2rem;
  overflow: hidden;
}

.carousel .carousel-item .img-wrapper {
  background-color: var(--bs-light);
  width: 100%;
  height: 240px;
  border-radius: .75rem;
  overflow: hidden;
  border: 1px solid rgba(var(--bs-secondary-rgb),.2);
}

/* .carousel .carousel-item .img-wrapper .overlay{
  background: linear-gradient(to bottom, rgba(0,0,0,0) 70%, rgb(85, 85, 85) 95%);
  border-radius: 1rem;
  position: absolute;
  margin: 0 1rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
} */
.carousel .carousel-item .img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.carousel .carousel-indicators {
  margin: 0 0 -2.5rem 0;
}

.carousel .carousel-indicators button {
  width: .75rem;
  height: .75rem;
  border-radius: 100%;
  background-color: var(--bs-primary);
}

.carousel .carousel-control-prev, .carousel .carousel-control-next {
  width: 0.5rem;
}

.carousel .carousel-control-prev i, .carousel .carousel-control-next i {
  color: var(--bs-primary);
  font-size: 1.5rem;
}

@media(max-width:991px) {
  .carousel {
    margin-bottom: 1.5rem;
  }

  .carousel .carousel-item {
    padding: 0 1rem;
  }

  .carousel .carousel-item .img-wrapper {
    height: 180px;
  }

  .carousel .carousel-control-prev,
  .carousel .carousel-control-next{
    display: none;
  }

  /* .carousel .carousel-indicators {
    display: none;
  } */
}

/* search-bar */
.search-bar{
  --search-bar-border-radius: 10rem;
  margin: 0 auto;
  max-width: 500px;
  border-radius: var(--search-bar-border-radius);
  border: 1px solid rgba(var(--bs-secondary-rgb),.25)
}

.search-bar .input-group-text{
  background-color: #fff;
  color: rgba(var(--bs-secondary-rgb));
  border-top-left-radius: var(--search-bar-border-radius);
  border-bottom-left-radius: var(--search-bar-border-radius);
  border: none;
  padding-left: 1rem;
}

.search-bar .form-control{
  border-top-right-radius: var(--search-bar-border-radius);
  border-bottom-right-radius: var(--search-bar-border-radius);
  font-size: 15px;
  border: none;
}
.search-bar .form-control::placeholder{
  color: var(--bs-secondary);
}

/* coming-soon */
.coming-soon {
  padding: 8rem 2rem !important;
}

.coming-soon .row {
  justify-content: center;
  align-items: center;
}

.coming-soon .coming-soon-image {
  width: 400px;
  margin: 0 auto;
}
.coming-soon .coming-soon-image img{
  height: auto;
}

.coming-soon .coming-soon-text {
  text-align: center;
}

.coming-soon .coming-soon-text .coming-soon-title {
  font-weight: 800;
  font-size: 3rem;
}

@media(max-width:992px) {
  .coming-soon .coming-soon-image {
    width: 280px;
    margin-bottom: 2rem;
  }

  .coming-soon .coming-soon-text .coming-soon-title {
    font-weight: 800;
    font-size: 2rem;
  }
}

/* footer */
footer .top {
  color: #fff;
  padding: 3rem 1rem;
  background-color: #1d6955;
}

footer .top h5 {
  font-weight: 800;
  margin-bottom: 1.5rem;
}

footer .top .contacts ul li {
  margin-bottom: .5rem;
}

footer .top .contacts ul li i {
  margin-right: .5rem;
}

footer .top .social-medias ul {
  display: flex;
}

footer .top .social-medias ul li {
  font-size: 20px;
  margin-right: 1rem;
}

footer .copyright {
  color: #fff;
  background-color: #185242;
  padding: 1rem;
  text-align: center;
  font-size: 14px;
}

footer .copyright br {
  display: none;
}

@media(max-width:991px) {
  footer .top .row>div:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  footer .top h5 {
    margin-bottom: 0.75rem;
  }

  footer .copyright br {
    display: block;
  }
}

/* empty */
.empty {
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty .empty-img img {
  background-color: var(--bs-light);
  width: 200px !important;
  height: 200px !important;
  object-fit: contain;
  border-radius: 100%;
}

.empty .empty-text {
  padding: 2rem 4rem;
}

.empty .empty-text h2 {
  font-weight: 800;
  font-size: 36px;
  color: var(--bs-primary)
}

.empty .empty-text p {
  color: var(--bs-secondary);
}

@media(max-width:991px) {
  .empty {
    padding: 1rem 0;
    flex-direction: column;
  }

  .empty .empty-img img {
    width: 160px !important;
    height: 160px !important;
  }

  .empty .empty-text {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }

  .empty .empty-text h2 {
    font-size: 28px;
  }
}