.disclaimer {
  margin: 0 0 0 0.5rem;
}

.disclaimer i {
  color: rgba(var(--bs-dark-rgb), 0.75) !important;
  cursor: pointer;
}

.disclaimer-popover {
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
}

.disclaimer-popover h6 {
  color: var(--bs-danger);
}

.nih-buat-jajan img {
  width: 180px;
}

.trakteer {
  border-radius: 100rem;
  background-color: #be1e2d;
  color: white;
  font-size: 16px;
  padding: 0.5rem 1.25rem;
  font-weight: 700;
  transition: 0.3s;
  text-wrap: nowrap;
  display: flex;
  align-items: center;
}
.trakteer:hover {
  background-color: #8c121e;
}

.trakteer .icon {
  height: 22px;
  width: auto;
  margin-right: 10px;
}

.buy-me-a-coffe {
  display: flex;
  gap: 0.5rem;
  border-radius: 0.75rem;
  background-color: #fd0;
  color: #000;
  font-size: 14px;
  font-weight: 800;
  padding: 0.5rem 0.75rem;
  transition: 0.3s;
}

.buy-me-a-coffe:hover {
  border-radius: 1rem;
  background-color: rgb(233, 202, 0);
}

@media (max-width: 767px) {
  .donate {
    text-align: center;
  }

  .nih-buat-jajan img {
    width: 160px;
  }
}
