.disclaimer {
  margin: 0 0 0 0.5rem;
}

.disclaimer i {
  color: rgba(var(--bs-dark-rgb), 0.75) !important;
  cursor: pointer;
}

.disclaimer-popover {
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
}

.disclaimer-popover h6 {
  color: var(--bs-danger);
}

.trakteer {
  border-radius: 100rem;
  background-color: #be1e2d;
  color: white;
  font-size: 14px;
  padding: 0.5rem 1.25rem;
  /* line-height: 36px; */
  font-weight: 700;
  transition: 0.3s;
  text-wrap: nowrap;
  display: flex;
  align-items: center;
}
.trakteer:hover {
  background-color: #8c121e;
}

.trakteer .icon {
  height: 22px;
  width: auto;
  margin-right: 10px;
}

@media (max-width: 767px) {
  .donate {
    text-align: center;
  }
}
