.portfolio-item-2:not(:last-child) {
  margin-bottom: 8rem;
}

.portfolio-item-2 .image img {
  object-fit: cover;
  height: 280px;
  border-radius: 0.75rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.portfolio-item-2 .detail {
  align-self: flex-start;
  padding: 1rem 2.5rem;
}

.portfolio-item-2 .detail .title {
  font-weight: 800;
}

.portfolio-item-2 .detail .metas {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
  /* color: var(--bs-secondary); */
  /* font-size: 14px; */
}

.portfolio-item-2 .detail .metas span {
  display: inline-block;
  margin: 0 0.5rem 0.5rem;
}

.portfolio-item-2 .detail .metas .meta {
  display: inline-block;
  background-color: rgba(var(--bs-primary-rgb), 0.1);
  color: rgba(var(--bs-primary-rgb), 1);
  /* border: 1px solid rgba(var(--bs-primary-rgb), 1); */
  padding: 0.125rem 0.5rem;
  font-size: 12px;
  font-weight: 600;
  border-radius: 0.4rem;
}

.portfolio-item-2 .detail .desc {
  margin-bottom: 1rem;
}

.portfolio-item-2 .detail .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio-item-2 .detail .stacks {
  display: flex;
  justify-content: right;
  gap: 0.5rem;
}

.portfolio-item-2 .detail .stacks .stack {
  background-color: var(--bs-light);
  padding: 0.5rem;
  border-radius: 100%;
}

@media (max-width: 991px) {
  .portfolio-item-2 .detail {
    padding: 1rem 1.5rem;
  }
}
