.scroll-to-top {
  --animation-time: 0.3s;
  z-index: 99998;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  transition: 0.3s;
  animation: fadeIn var(--animation-time);
  -webkit-animation: fadeIn var(--animation-time);
  -moz-animation: fadeIn var(--animation-time);
  -o-animation: fadeIn var(--animation-time);
  -ms-animation: fadeIn var(--animation-time);
}

.scroll-to-top .button-scroll-to-top {
  font-size: 24px;
  background-color: var(--bs-primary);
  color: white;
  width: 60px;
  height: 60px;
  opacity: 0.25;
  cursor: pointer;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.scroll-to-top .button-scroll-to-top:hover {
  opacity: 1;
}

@media (max-width: 767px) {
  .scroll-to-top .button-scroll-to-top {
    font-size: 20px;
    width: 50px;
    opacity: 1;
    height: 50px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
